@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root{
    --teal-light:#00ADB5;
    --navy-darck:#112D4E;
   
}

@layer base{
    
    html{
        
        @apply scroll-smooth *:box-border
    }
   body{
    @apply font-[Roboto] *:m-0 *:p-0
   }
   button{
     background:linear-gradient(to right ,var(--teal-light) ,var(--navy-darck) )
   }
}